head 
  title Delete a Post
body
  form(method="post")
    | ID of the post you want to delete: 
    input(type="text", name="deleteID", value="Enter ID", id="deleteID")
    br
    input(type="submit", name="submit", value="Delete")
  br
  a(href="./")
    | Back
