head
  title About Me
  meta(charset="utf-8")
  meta(name="description", content="")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="apple-touch-icon", href="icon.png")
  link(rel='stylesheet', href='/css/bootstrap.css')
  link(rel='stylesheet', href='/css/normalize.css')
  link(rel='stylesheet', href='/css/main.css')
  meta(name="theme-color", content="#293a80")

body(style="width:100%;")
  a(href="https://www.facebook.com/max.zhang.16906")
    h1(style="text-align: center; font-size: 375%;" class="computerText") Max Zhang
  div(class="container")
    div(class="horiz computerText justify-content-center")
      a(href="/me/files/MaxZhangResume2020.pdf")
        p(class="headers") RESUME
      a(href="#projects")
        p(class="headers") PROJECTS
      a(href="https://github.com/maxpluez")
        p(class="headers") GITHUB
      a(href="https://www.linkedin.com/in/maxpluez/")
        p(class="headers") LINKEDIN
  div(class="imagecontainer")
    img(class="resizecenter", src="images/me3.jpeg", alt="Sorry if you can't see this fun image. It's me going to Hogwarts.")
  p(style="text-align: center;") (Me going to Hogwarts)

  div(class="computerText d-flex justify-content-center", style="width: 70em; margin-left: auto;margin-right: auto")
    div(class="horiz")
      div(class="vert")
        h2(class="flexInside", style="color:#010038") UNIVERSITY
        h2(class="flexInside", style="color:#010038") YEAR
        h2(class="flexInside", style="color:#010038") MAJOR
      div(class="vert")
        h2(class="flexInside", style="color:#537ec5;") UCLA
        h2(class="flexInside", style="color:#537ec5;") 3rd
        h2(class="flexInside", style="color:#537ec5;") COMPUTER SCIENCE and Engineering

  div(class="container d-flex justify-content-center")
    div(class="vert")
      p Hello! I'm a second-year Computer Science major at UCLA. My interests include:
      ul(style="align-content: center; align-self: center")
        li
          | Game Development (Unreal, C++)
        li
          | Web Development (Node.js, Express.js, MongoDB)
        li
          | Software Engineering in general
      p(id="projects") Below are some my selected projects (see more projects and source codes on my GitHub):
      ul(style="align-content: center; align-self: center")
        li
          a(href="https://github.com/maxpluez/FilmArchive")
            | FilmArchive (Express + React web project)
        li
          a(href="https://github.com/ucla/lti-media-resources")
            | UCLA Media Resource Center (Express + React web app)
        li
          a(href="https://reslife.ucla.edu/we-make/")
            | WeMake @ UCLA Official Website
        li
          a(href="https://github.com/harlanbrawer/cs174a-Final-Project")
            | Cube Runner: A WebGL Game
        li
          a(href="/")
            | aBlog (Personal WebDev Project)
        li
          a(href="https://devpost.com/software/pair-r15tbi")
            | Pair (LA Hacks Group Project)
        li
          a(href="https://github.com/maxpluez/slidep")
            | Slide+ (Personal AppDev Project)
        li
          a(href="/me/files/Final.pdf")
            | A VEB Tree Implementation of Scan-line Filling Algorithm (Personal Research)
      p
        | If you want to contact me, my email is 
        a(href="mailto:max.plue.zhang@gmail.com") max.plue.zhang@gmail.com
        |  and my phone number is 
        a(href="tel:310-909-3788") (310) 909-3788.
