head
  title About Me
body
  h2 This is Max Zhang's personal page.
  a(href="/me/files/Final.pdf")
    | Project1 (Research Paper: A VEB Tree Implementation of Scan-line Filling Algorithm)
  br
  br
  a(href="/")
    | Project2 (aBlog)
  br
  br
  a(href="https://github.com/maxpluez/slidep")
    | Project3 (Slide+)
  br
  br
